body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-size: 1rem;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}
.sidebar {
    background-color: #343541;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200px;
    transition: width 0.3s ease-in-out;
    position: relative;
    height: 100%;
}
.sidebar.minimized {
    width: 50px;
    justify-content: center;
}
.minimize-btn, .create-chat-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 5px 0;
}
.chat-session-container {
    overflow-y: auto;
    flex-grow: 1;
}
.chat-sessions {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.chat-sessions li {
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.chat-sessions li span {
    margin-left: 0.5rem;
}
.chat-sessions li .session-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.chat-sessions li .session-actions {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.chat-sessions li .delete-chat-btn, .chat-sessions li .rename-chat-btn {
    
}
.chat-sessions li .session-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}
.chat-sessions li.active-session {
    background-color: #4B5563;
}
.chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}
.chat-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    overflow-y: auto;
    flex-grow: 1;
    box-sizing: border-box;
    max-height: 90vh;
}
.user-message, .bot-message {
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}
.user-message {
    background-color: #007bff;
    border: 1px solid #007bff;
    margin-left: auto;
}
.bot-message {
    background-color: #4B5563;
    border: 1px solid #4B5563;
    color: #F3F4F6;
}
#msg, #sendBtn {
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}
#msg {
    border: 1px solid #cccccc;
    flex-grow: 1;
}
#sendBtn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
#chatForm {
    display: flex;
    width: 100%;
    align-items: stretch;
}
h2 {
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .sidebar, .sidebar.minimized {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .chat-sessions {
        display: block;
    }
    .chat-section {
        padding: 0.5rem;
    }
    .minimize-btn {
        display: none;
    }
}
